<div class="col-md-6 d-flex" >
<div class="form-floating mb-3">
  <input type="text" value="{{this.event_name}}"  class="form-control" id="floatingInput" placeholder="Event Name" name="event_name">
  <label for="floatingInput">Event Name</label>
</div>
<div class="form-floating">
  <input type="date" value="{{this.date}}" class="form-control" id="floatingPassword" placeholder="Date" name="date">
  <label for="floatingPassword">Date</label>
</div>
</div>
<div class="form-floating">
  <input type="text-area" value="{{this.description}}" class="form-control" id="floatingPassword" placeholder="Description" name="description" style="height:100px">
  <label for="floatingPassword">Description</label>
</div>
<div class="col-6 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>

</div>