<head>
  <script src="../qrcode.js"></script>
</head>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Share event</li>
  </ol>
</nav>

<form action="/share" method="post">
<div class="wrapper">
  <div class="form">
  <h1>Get your Event QR code</h1>
  <input type="text" name="url" placeholder="Enter Event Name">
  <button>Generate QR code</button>
  </div>
</div>
</form>
<div class="qr">

</div>













<div id="placeHolder">
</div>

<form action="https://formsubmit.co/el/golixi" method="POST" novalidate>

  


<div class="mb-3">
  <label for="" class="form-label"  >FROM:</label>
  <input type="email" class="form-control" id="" name="fromemail" placeholder="" required>
</div>
<div class="mb-3">
  <label for="" class="form-label">TO:</label>
  <input type="email" class="form-control" name="toemail" id="" placeholder="" required>
</div>
<div class="mb-3">
  <label for="" class="form-label">SUBJECT:</label>
  <input type="text" class="form-control" id=""  name="subject" placeholder="" required>
</div>
<div class="mb-3">
  <label for="" class="form-label">MESSAGE:</label>
  <textarea class="form-control" id="" name="message"               placeholder="Type your Message here" required rows="5"> </textarea>
</div>
<div class="button">
    <button  type="submit" class="btn btn-primary"> SEND MAIL</button>
</div>





</form>

